body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
}

th {
    color: white;
    background-color: darkgray;
}

tfoot td {
    color: red;
}